body {
    background: #4b6cb7;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}
.wrap, #demo-canvas, .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.wrap {
    background: -webkit-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    background: -moz-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    background: -ms-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    background: -o-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    background: linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
}
.container {
    width: 580px;
    margin: 230px auto;
    text-align: center;
}
.container a {
    color: #F5864D;
}

.logo {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 40px;
    left: 50%;
    margin-left: -75px;
    text-align: center;
    background: url(yii-logo.png) bottom no-repeat;
}